<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
     Required only if your app needs to access images or photos
     that other apps created.
    -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:minSdkVersion="33" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="30" />

    <uses-permission
        android:name="android.permission.ACCESS_MEDIA_LOCATION"
        android:minSdkVersion="29" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="33" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MyApplication"
        android:requestLegacyExternalStorage="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidGallery"
        tools:targetApi="33">
        <service
            android:name=".services.PhotoService"
            android:enabled="true" />

        <service
            android:name=".services.JobSchedulerService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!--        <provider-->
        <!--            android:name="androidx.core.content.FileProvider"-->
        <!--            android:authorities="android21ktpm3.group07.androidgallery.fileprovider"-->
        <!--            android:exported="false"-->
        <!--            android:grantUriPermissions="true">-->
        <!--            <meta-data-->
        <!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--                android:resource="@xml/file_paths" />-->
        <!--        </provider>-->

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <activity
            android:name=".ui.editor.PhotoEditor"
            android:exported="false" />

        <activity
            android:name=".ui.library.albums.AlbumActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidGallery" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.photos.ImageActivity" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ica" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>